<div class="sidebar-sticky">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'dashboard:dashboard' %}">
                <i data-feather="home"></i>
                Dashboard <span class="sr-only">(current)</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'dashboard:posts' %}">
                <i data-feather="layers"></i>
                Posts
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'dashboard:post-create' %}">
                <i data-feather="file-text"></i>
                New Post
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'dashboard:categories' %}">
                <i data-feather="folder"></i>
                Categories
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'dashboard:tag-list' %}">
                <i data-feather="tag"></i>
                Tags
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'dashboard:media-upload-list' %}">
                <i data-feather="hard-drive"></i>
                Media
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'dashboard:users' %}">
                <i data-feather="users"></i>
                Users
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'dashboard:user-create' %}">
                <i data-feather="user-plus"></i>
                Add User
            </a>
        </li>
    </ul>
</div>