<div class="sidebar-sticky">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'dashboard:dashboard' %}">
                <i data-feather="home"></i>
                داشبورد <span class="sr-only">(current)</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'dashboard:posts' %}">
                <i data-feather="layers"></i>
                نوشته‌ها
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'dashboard:post-create' %}">
                <i data-feather="file-text"></i>
                نوشته جدید
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'dashboard:categories' %}">
                <i data-feather="folder"></i>
                دسته‌ها
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'dashboard:tag-list' %}">
                <i data-feather="tag"></i>
                برچسب‌ها
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'dashboard:media-upload-list' %}">
                <i data-feather="hard-drive"></i>
                رسانه
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'dashboard:users' %}">
                <i data-feather="users"></i>
                کاربران
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'dashboard:user-create' %}">
                <i data-feather="user-plus"></i>
                کاربر جدید
            </a>
        </li>
    </ul>
</div>