{% extends 'blog/base.html' %}
{% load static %}
{% load thumbnail %}
{% load jalali_tags %}
{% block title %} Blog {% endblock title %}
{% block body_class %}blog post post-single{% endblock body_class %}

{% block body %}
    {% include 'blog/includes/navbar.html' %}

    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 post__single">
                <header class="p-3 mr-lg-3">
                    <div class="page__header">
                        <h3>{{ post.title|safe }}</h3>
                    </div>
                    <div class="post__meta py-4">
                        <div class="author mr-3"><a href="{% url 'blog:post-author' post.author %}">@{{ post.author }}</a></div>
                        <time>{{ post.published_at|to_jalali:'%A %d %B %Y' }}</time>
                    </div>
                </header>
                <section class="mb-4 post__thumbnail">
                    {% thumbnail post.image "1200x650" crop="center" as im %}
                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ post.title }}" class="img-fluid">
                    {% endthumbnail %}
                </section>
                <div class="content">
                    <main class="main">
                        {{ post.content|safe }}
                    </main>
                </div>
            </div>
        </div>
    </div>

    {% include 'blog/includes/footer.html' %}
{% endblock body %}
