{% extends 'dashboard/base.html' %}

{% block title %} Dashboard {% endblock title %}

{% block body %}
    {% include 'dashboard/includes/navbar.html' %}
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block sidebar">
                {% include 'dashboard/includes/sidebar.html' %}
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 p-3 p-4">
                <div class="page-header mb-5">
                    <h1 class="h2"> <i data-feather="folder"></i> دسته‌ها</h1>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-8 col-lg-6 pt-6">
                        <a href="{% url 'dashboard:category-create' %}" class="btn btn-dark mb-3">ایجاد دسته جدید</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-8 col-lg-6 pt-6">
                        {% if category_list %}
                            {% for cat in category_list %}
                                <a href="{% url 'dashboard:category-edit' cat.pk %}" class="list-group-item list-group-item-action">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1">{{ cat.title }}</h5>
                                    </div>
                                    <p>{{ cat.slug }}</p>
                                    {% if cat.description %}
                                        <small>{{ cat.description }}</small>
                                    {% endif %}
                                    <small>Created at, {{ cat.published_at|date }}</small>
                                </a>
                            {% endfor %}
                        {% else %}
                            <div class="list-group">
                                <div class="alert alert-warning" role="alert">
                                    هیچ دسته‌ای یافت نشد، ابتدا دسته جدید را بسازید.
                                </div>
                                <a href="{% url 'dashboard:category-create' %}" class="btn btn-primary">ایجاد دسته جدید</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </main>
        </div>
    </div>

{% endblock body %}
