{% extends 'dashboard/base.html' %}

{% block title %} Dashboard {% endblock title %}

{% block body %}
    {% include 'dashboard/includes/navbar.html' %}
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block sidebar">
                {% include 'dashboard/includes/sidebar.html' %}
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 p-3 p-4">
                <div class="page-header mb-5">
                    <h1 class="h2"> <i data-feather="tag"></i> برچسب‌ها</h1>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-8 col-lg-6 pt-6">
                        <a href="{% url 'dashboard:tag-create' %}" class="btn btn-dark mb-3">ایجاد برچسب جدید</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-8 col-lg-6 pt-6">
                        {% if tag_list %}
                            {% for tag in tag_list %}
                                <a href="{% url 'dashboard:tag-edit' tag.pk %}" class="list-group-item list-group-item-action">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1">{{ tag.title }}</h5>
                                    </div>
                                    <p>{{ tag.slug }}</p>
                                    {% if tag.description %}
                                        <small>{{ tag.description }}</small>
                                    {% endif %}
                                    <small>ایجاد شده در تاریخ {{ tag.published_at|date }}</small>
                                </a>
                            {% endfor %}
                        {% else %}
                            <div class="list-group">
                                <div class="alert alert-warning" role="alert">
                                    هیچ برچسبی یافت نشد، ابتدا برچسب جدید را بسازید.
                                </div>
                                <a href="{% url 'dashboard:tag-create' %}" class="btn btn-primary">ساخت برچسب جدید</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </main>
        </div>
    </div>

{% endblock body %}
