<div class="sidebar-sticky">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'blog:dashboard' %}">
                <i data-feather="home"></i>
                Dashboard <span class="sr-only">(current)</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'blog:dsh-posts' %}">
                <i data-feather="layers"></i>
                Posts
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'blog:dsh-post-create' %}">
                <i data-feather="file-text"></i>
                New Post
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'blog:dsh-categories' %}">
                <i data-feather="folder"></i>
                Categories
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i data-feather="tag"></i>
                Tags
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'blog:dsh-users' %}">
                <i data-feather="users"></i>
                Users
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'blog:dsh-user-create' %}">
                <i data-feather="user-plus"></i>
                Add User
            </a>
        </li>
    </ul>
</div>