div.post__card {
  margin-bottom: 5rem;
  line-height: 1.6rem;

  img {
    border-radius: 1.5rem;
  }

  .post__title {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 34px;
    max-width: 100%;
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 3%;

    a {
      color: #292929 !important;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }

  div.post__meta {
    display: flex;
    font-size: .8375rem;
    margin: 1rem 0;
    padding-left: 5%;

    div.author {
      margin-right: 1rem;
      text-transform: capitalize;
      direction: rtl;
      a {
        color: rgba(41, 41, 41, 1);

        &:hover,
        &:focus,
        &:active {
          text-decoration: none;
        }
      }

      time {
        color: rgba(117, 117, 117, 1);
      }
    }
  }

  .post__excerpt {
    font-size: 1em;
    font-weight: 300;
    padding-left: 5%;
    padding-top: 1%;
    color: #555;
  }
}

div.post__single {
  font-size: 1.25rem;
  line-height: 1.68;

  section.post__thumbnail {
    img {
      border-radius: 1.5rem;
    }
  }

  div.content {
    padding: 1rem;
    font-size: 18px;
    font-weight: 300;
    text-align: justify;
    color: #424242;
    border-bottom: 1px solid #ddd;
    border-radius: 6px;
  }

  div.page__header {
    h3 {
      font-size: 48px !important;
      font-weight: 400;
      text-align: left;
      color: rgba(41, 41, 41, 1);
    }
  }

  div.post__meta {
    display: flex;
    font-size: .8375rem;
    margin: 1rem 0;

    div.author {
      text-transform: capitalize;
      direction: rtl;

      a {
        color: rgba(41, 41, 41, 1);

        &:hover,
        &:focus,
        &:active {
          text-decoration: none;
        }
      }

      time {
        color: rgba(117, 117, 117, 1);
      }
    }
  }
}

@media (max-width: 576px) {
  div.post__single {
    div.page__header {
      h3 {
        font-size: 24px !important;
        font-weight: bold;
      }
    }

    div.post__meta {
      padding-bottom: 0 !important;

      div.author {
        font-weight: 600;
      }
    }
  }
}