@media (max-width: 575.98px) {
  div.post__card {
    .post__title {
      line-height: 2.3rem;
    }
  }

  div.post__single {
    div.page__header {
      h3 {
        font-size: 2rem !important;
        line-height: 2.5rem;
      }
    }
    div.content {
      background-color: transparent !important;
      padding: 0 !important;
      border-radius: 0;
    }
  }
}

div.post__card {
  margin-bottom: 5rem;

  img {
    border-radius: 1.5rem;
  }

  .post__title {
    font-size: 1.5rem;
    font-weight: 700;
    max-width: 100%;
    padding-left: 5%;
    padding-top: 3%;

    a {
      color: #292929 !important;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }

  div.post__meta {
    display: flex;
    font-size: .8375rem;
    margin: 1rem 0;
    padding-left: 5%;

    div.author {
      margin-right: 1rem;
      text-transform: capitalize;
      a {
        color: rgba(41, 41, 41, 1);
      }

      time {
        color: rgba(117, 117, 117, 1);
      }
    }
  }

  .post__excerpt {
    font-size: 1em;
    font-weight: 300;
    padding-left: 5%;
    padding-top: 1%;
    color: #555;
  }
}

div.post__single {
  font-size: 1.25rem;
  line-height: 1.68;

  section.post__thumbnail {
    img {
      border-radius: 1.5rem;
    }
  }

  div.content {
    padding: 1rem;
    border-radius: 6px;
    color: rgba(41, 41, 41, 1);
  }

  div.page__header {
    h3 {
      font-size: 48px !important;
      font-weight: 400;
      text-align: left;
      color: rgba(41, 41, 41, 1);
    }
  }

  div.post__meta {
    display: flex;
    justify-content: left;
    text-align: left;
    font-size: .9375rem;

    margin-right: 1rem;
    text-transform: capitalize;
    a {
      color: rgba(41, 41, 41, 1);
    }

    time {
      color: rgba(117, 117, 117, 1);
    }
  }
}