@media (max-width: 575.98px) {
  div.post__card {
    .post__title {
      line-height: 2.3rem;
    }
  }

  div.post__single {
    div.page__header {
      h3 {
        font-size: 2rem !important;
        line-height: 2.5rem;
      }
    }
    div.content {
      background-color: transparent !important;
      padding: 0 !important;
      border-radius: 0;
    }
  }
}

div.post__card {
  margin: 5rem 0;

  .post__title {
    font-size: 2em;
    font-weight: 700;
    max-width: 100%;
    padding-left: 5%;
    padding-top: 3%;

    a {
      color: #9e9e9e !important;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }

  div.post__meta {
    display: flex;
    font-size: .9375rem;
    margin: 1rem 0;
    padding-left: 5%;

    div.author {
      margin-right: 1rem;
      text-transform: capitalize;
      a {
        color: #ddd !important;

        &:hover,
        &:focus {
          text-decoration: none;
          color: #ccc !important;
        }
      }
    }
  }

  .post__excerpt {
    font-size: 1.1em;
    font-weight: 300;
    color: #707070;
    padding-left: 5%;
    padding-top: 1%;
  }

  .post__tags {
    font-size: 1.1em;
    font-weight: 300;
    color: #333;
    padding-left: 5%;
    font-style: italic;
    padding-top: 3%;
  }
}

div.post__single {
  font-size: 1.25rem;
  line-height: 1.68;
  color: #9e9e9e;

  div.content {
    background-color: #111;
    padding: 1rem;
    border-radius: 6px;
  }

  div.page__header {
    h3 {
      font-size: 2.5rem;
      text-align: center;
      color: #9e9e9e;
    }
  }

  div.post__meta {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: .9375rem;
    margin: 2rem;

    div.author {
      margin-right: 1rem;
      text-transform: capitalize;
      a {
        color: #c19e74;
      }
    }
  }
}