html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 5rem;
  margin-bottom: 150px;
  font-family: 'Vazir', sans-serif !important;
  background-color: #121212;
  color: #9e9e9e;
}

::selection {
  background-color: #888;
  color: #ddd;
}