body.login {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;

  background-color: #EACEA7;

  .back-to-home {
    left: 1rem;
    top: 1rem;
    color: #754F44;
  }

  .form-signin {
    width: 100%;
    max-width: 420px;
    padding: 15px;
    margin: 0 auto;

    h3 {
      margin-bottom: 2rem;
      font-weight: 700;
      font-size: 40px;
      color: #721817;
    }

    .form-group {
      background-color: #fff;
      padding: 1rem;
      border-radius: 10px;

      label {
        margin-bottom: .2rem;
      }
    }

    input[type="text"],
    input[type="email"],
    input[type="password"] {
      direction: rtl;
    }

    button[type="submit"] {
      border: none;
      margin-top: 1rem;
      i {
        text-align: right;
      }
    }

    a.back-to-home {
      font-size: 14px;
    }
  }
}