html,
body {
  height: 100%;
}

body {
  font-family: IRANSans !important;
  background-color: #fff;
}

* {
  outline: none !important;
  box-shadow: none !important;

  &:focus {
    border-color: #08090A !important;
  }
}

.feather {
  vertical-align: middle;
}