@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;700&display=swap');

.navbar__baboon {
  background-color: #0A0908;
  opacity: 1;
  transform: translateY(0);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;

  .navbar-brand {
    font-weight: 700;
    color: #aa8c68 !important;

    img {
      margin-right: .75rem;
    }
  }

  .btn__contact {
    font-size: 1rem;
    border: none;
  }

  .btn__login {
    font-size: 1rem;
    letter-spacing: 1px;
    border: none;
  }

  .btn__logout {
    font-size: 1rem;
    letter-spacing: 1px;
    border: none;
  }

  .navbar-toggler {
    float: right;
    border: none;
    padding-right: 0;

    span {
      font-family: 'Roboto Slab', serif;
      font-size: 14px;
      color: #555;
      letter-spacing: 3px;

      &:hover,
      &:focus,
      &:active {
        color: #ddd;
      }
    }

    &:active, &:focus {
      outline: none;
    }
  }

  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    &:after {
      transform: rotate(45deg);
    }

    &:before {
      transform: translateY(8px) rotate(-45deg);
    }

    border-color: transparent;
  }

  .dropdown-menu {
    font-family: 'Roboto Slab', serif;
    text-align: right;
    top: 35px;
    border-color: transparent;
    border-bottom-right-radius: 9px;
    border-bottom-left-radius: 9px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .3);

    a {
      font-weight: 400;
      letter-spacing: 1px;
    }
  }
}

