@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;700&display=swap');

.navbar__baboon {
  background-color: #0A0908;
  opacity: 1;
  transform: translateY(0);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;

  .navbar-brand {
    font-family: 'Merriweather', sans-serif;
    letter-spacing: 1.3px;
    color: #aa8c68 !important;

    img {
      margin-right: .75rem;
    }
  }

  .btn__contact {
    font-size: 1rem;
    font-weight: 100;
    letter-spacing: 1px;
    border: none;
  }

  .btn__login {
    font-size: 1rem;
    font-weight: 100;
    letter-spacing: 1px;
    border: none;
  }

  .btn__logout {
    font-size: 1rem;
    font-weight: 100;
    letter-spacing: 1px;
    border: none;
  }

  .navbar-toggler {
    float: right;
    border: none;
    padding-right: 0;

    &:active, &:focus {
      outline: none;
    }
  }

  .navbar-toggler-icon {
    width: 24px;
    height: 19px;
    background-image: none;
    position: relative;
    transition: all 300ms linear;

    &:after, &:before {
      width: 24px;
      position: absolute;
      height: 3px;
      top: 0;
      left: 0;
      content: '';
      z-index: 2;
      transition: all 300ms linear;
    }

    &:after {
      top: 8px;
    }
  }

  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    &:after {
      transform: rotate(45deg);
    }

    &:before {
      transform: translateY(8px) rotate(-45deg);
    }

    border-color: transparent;
  }

  .dropdown-menu {
    top: 35px;
    border-color: transparent;
    border-bottom-right-radius: 9px;
    border-bottom-left-radius: 9px;
  }
}

